<div class="card"
     *ngIf="vm$ | async  as vm ">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">

    <div class="row">
      <div class="col-md-2">Name:</div>
      <div class="col-md-6">{{vm.car.carName}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Code:</div>
      <div class="col-md-6">{{vm.car.carCode}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Description:</div>
      <div class="col-md-6">{{vm.car.description}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Price:</div>
      <div class="col-md-6">{{vm.car.price|currency:"USD":"symbol"}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Category:</div>
      <div class="col-md-6">{{vm.car.category}}</div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="vm.suppliers">
        <thead>
          <tr>
            <th>Supplier</th>
            <th>Cost</th>
            <th>Minimum Quantity</th>
          </tr>
        </thead>
        <tbody>
        <tr class="pointer-on-hover" *ngFor="let supplier of vm.suppliers" (click)='onSelectedSupplier(supplier.id)'>
            <td>{{ supplier.name }} </td>
            <td>{{ supplier.cost | currency:"USD":"symbol":"1.2-2" }}</td>
            <td>{{ supplier.minQuantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
