<div class="card"
     *ngIf="selectedSupplier$|async as selectedSupplier">
  <div class="card-header">
    Supplier details
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Name:</div>
      <div class="col-md-6">{{selectedSupplier.name}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Min quantity:</div>
      <div class="col-md-6">{{selectedSupplier.minQuantity}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Extra details:</div>
      <div class="col-md-6">{{selectedSupplier.extraDetails}}</div>
    </div>
  </div>

  <div class="card-footer">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <!--        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
        <div *ngIf="email.errors.isExists">
          The name of this car exists.
        </div>
      </mat-form-field>
    </div>
  </div>
</div>
