<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class='card-body' *ngIf="toysWithCategories$|async as toys">
    <div class='list-group'>
      <button type='button'
              *ngFor="let toy of toys"
              class='list-group-item'>
        {{toy.toyName}} ({{toy.category}})
      </button>
    </div>

    <div class="row mt-4 mr-2 pull-right">
      <button class="btn btn-outline-primary">
        Refresh Data
      </button>
    </div>
  </div>

</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
