<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand">{{pageTitle}}</a>
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/welcome']"
             routerLinkActive="active">Home</a>
        </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/products', 0]"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact : true}">Product List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/cars', 0]"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact : true}">Cars List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/toys', 0]"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact : true}">Toys List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/kata', 0]"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact : true}">Katas List</a>
      </li>
    </ul>
</nav>
